<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Мои заказы</title>
</head>
<body>
<div layout:fragment="content">
  <div class="mt-5">
    <h1 th:text = "${old} ? 'Архив заказов' : 'Мои заказы'"></h1>
    <a href="/orders"
       class="btn btn-secondary btn-sm"
       role="button"
       style="background-color: sienna"
       aria-disabled="true">Текущие заказы</a>
    <a href="/orders/old"
       class="btn btn-secondary btn-sm"
       role="button"
       style="background-color: sienna"
       aria-disabled="true">Архив заказов</a>
    <table class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Фильм</th>
        <th scope="col">Дата заказа фильма</th>
        <th scope="col">Дата возврата</th>
        <th scope="col">Период заказа</th>
        <th scope="col">Рейтинг</th>
        <th scope="col">Отзывы</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order: ${orders}">
        <td>
            <a class="text-link text-blue" th:href="'/films/' + ${order.getFilmId()}" th:text="${order.getOrderFilm().getTitle()}"></a>
        </td>
        <td th:text="${#temporals.format(order.getRentDate(), 'dd-MM-yyyy')}"></td>
        <td th:text="${#temporals.format(order.getRentDate().plusDays(order.getRentPeriod()), 'dd-MM-yyyy')}"></td>
        <td th:text="${order.getRentPeriod()} + ' дней'"></td>
        <td>
          <div class="col"
               th:text="${!order.getOrderFilm().getReviewIds().isEmpty()} ? ${order.getOrderFilm().getRating()}
                          : 'Нет оценок'"
               th:style="${!order.getOrderFilm().getReviewIds().isEmpty()}  ? 'font: bold italic 110% serif; font-size: 20px'
                          : 'color: grey'" >
          </div>
        </td>
        <td>
          <div class="col">
            <a th:text="${!order.getOrderFilm().getReviewIds().isEmpty()} ? 'Отзывы(' + ${order.getOrderFilm().getReviewIds().size()} + ')'
                          : 'Нет отзывов'"
               th:href="${!order.getOrderFilm().getReviewIds().isEmpty()} ? '/reviews/film/' + ${order.getOrderFilm().getId()}"
               th:style="${order.getOrderFilm().getReviewIds().isEmpty()} ?
                           'text-decoration: none; cursor: default; pointer-events: none; color: grey'">
            </a>
          </div>
        </td>
        <td>
          <a
                  th:href="'/reviews/addReview/' + ${order.getFilmId()}"
                  class="btn btn-success"
                  role="button"
                  aria-disabled="true">Добавить отзыв</a>
        </td>
        <td>
          <a
                  th:href="${order.getPurchase()} ? '/orders/return/' + ${order.getId()} : ''"
                  th:class="${order.getPurchase()} ? 'btn btn-primary' : 'btn btn-primary disabled'"
                  th:style="!${order.getPurchase()} ? 'background-color: grey'"
                  role="button"
                  aria-disabled="true">Вернуть фильм</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <nav aria-label="Pagination" th:if="${orders.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
          <li class="page-item" th:classappend="${orders.number eq 0} ? 'disabled'">
            <a class="page-link" th:if = "!${old}"
               th:href="@{/orders(page=${orders.number lt 2 ? 1 : orders.number})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
              <span aria-hidden="true">&laquo;</span>
            </a>
            <a class="page-link" th:if = "${old}"
               th:href="@{/orders/old(page=${orders.number lt 2 ? 1 : orders.number})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" th:classappend="${i eq orders.number + 1} ? 'active'"
              th:each="i : ${#numbers.sequence( 1, orders.totalPages, 1)}">
            <a class="page-link" th:if = "!${old}"
               th:href="@{/orders(page=${i})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            <a class="page-link" th:if = "${old}"
               th:href="@{/orders/old(page=${i})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
          </li>
          <li class="page-item" th:classappend="${orders.number eq orders.totalPages - 1} ? 'disabled'">
            <a class="page-link" th:if = "!${old}"
               th:href="@{/orders(page=${orders.number + 2})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
              <span aria-hidden="true">&raquo;</span>
            </a>
            <a class="page-link" th:if = "${old}"
               th:href="@{/orders/old(page=${orders.number + 2})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</body>
</html>
