<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои заказы</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1 th:text="'Заказы пользователя ' + ${user.getLogin()}"></h1>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Фильм</th>
                <th scope="col">Дата заказа фильма</th>
                <th scope="col">Дата возврата</th>
                <th scope="col">Период заказа</th>
                <th scope="col">Состояние</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}">
                <td>
                    <a class="text-link text-blue" th:href="'/films/' + ${order.getOrderFilm().getId}"
                       th:text="${order.getOrderFilm().getTitle()}"></a>
                </td>
                <td th:text="${#temporals.format(order.getRentDate(), 'dd-MM-yyyy')}"></td>
                <td th:text="${#temporals.format(order.getRentDate().plusDays(order.getRentPeriod()), 'dd-MM-yyyy')}"></td>
                <td th:text="${order.getRentPeriod()} + ' дней'"></td>
                <td th:text="${order.getPurchase()} ? 'Активен' : 'Возвращён'"
                    th:style="${order.getPurchase()} ? 'color:red' : 'color:grey'">
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <nav aria-label="Pagination" th:if="${orders.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${orders.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/orders/{userId}(userId=${user.getId()}, page=${orders.number lt 2 ? 1 : orders.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq orders.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, orders.totalPages, 1)}">
                        <a class="page-link"
                           th:href="@{/orders/{userId}(userId=${user.getId()}, page=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${orders.number eq orders.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/orders/{userId}(userId=${user.getId()}, page=${orders.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <a href="/users"
           class="btn btn-secondary"
           role="button"
           aria-disabled="true">Назад</a>
    </div>
</div>
</body>
</html>
