<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отзывы к фильму</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1 th:text="'Отзывы о фильме: ' + ${film.getTitle()}"></h1>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Дата и время отзыва</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Оценка</th>
                <th scope="col">Содержание отзыва</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review: ${reviews}">
                <td th:text="${#temporals.format(review.getCreatedWhen(), 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${review.getCreatedBy()}"></td>
                <td th:text="${review.getRate()} + ' баллов'"></td>
                <td th:text="${review.getTextReview()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-2">
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
</div>
</body>
</html>