<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои отзывы</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1>Мои отзывы:</h1>
        <div th:if="${reviews.isEmpty()}"><h5>Вы ещё не оставляли пока ни одного отзыва</h5></div>
        <table th:if="${!reviews.isEmpty()}" class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Дата и время отзыва</th>
                <th scope="col">Фильм</th>
                <th scope="col">Оценка</th>
                <th scope="col">Содержание отзыва</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review: ${reviews}">
                <td th:text="${#temporals.format(review.getCreatedWhen(), 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${review.getReviewFilm().getTitle()}"></td>
                <td th:text="${review.getRate()} + ' баллов'"></td>
                <td th:text="${review.getTextReview()}"></td>
                <td>
                    <a
                            th:href="'/reviews/update/' + ${review.getId()}"
                            class="btn btn-outline-success"
                            role="button"
                            aria-disabled="true">Изменить отзыв</a>
                </td>
                <td>
                    <a
                            th:href="'/reviews/delete/' + ${review.getId()}"
                            class="btn btn-outline-danger"
                            role="button"
                            aria-disabled="true">Удалить отзыв</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>