<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Изменить отзыв</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Изменить отзыв о фильме: ' + ${film.getTitle()}"></h3>
  <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST"
        th:action="@{/reviews/update}" th:object="${reviewForm}">
    <input type="hidden" name="id"
           th:value="${review.getId()}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          Оцените фильм:
          <select name="rate" id="rate" type="number" required>
            <!--                                <option value="default">Оцените фильм</option>-->
            <option value="5.0">5</option>
            <option value="4.0">4</option>
            <option value="3.0">3</option>
            <option value="2.0">2</option>
            <option value="1.0">1</option>
          </select>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
                    <input name="textReview" type="text" class="form-control" id="textReview"
                           th:value = "${review.getTextReview()}" placeholder="Текст отзыва" required>
          <label for="textReview">Текст отзыва</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary" onclick="validateForm()">Изменить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>