<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить фильм</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-3 mb-3" th:text="'Добавление фильма к режиссеру ' + ${director.getDirectorFio()}"></div>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw"
          method="POST" th:action="@{/directors/add-film-to-director}" th:object="${filmToDirectorForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="filmId" id="filmId" required>
                        <option selected value="0">Выберете фильм</option>
                        <option th:each="film : ${films}"
                                th:value=" ${film.getId()}" th:text="${film.getTitle()}"></option>
                    </select>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="directorId" type="hidden" class="form-control" id="directorId"
                               th:value="${director.getId()}">
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>