<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Режиссеры</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск режиссёра</h3>
        <form method="POST" th:action="@{/directors/search}" th:object="${directotrSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="directorFio" type="text" class="form-control" id="directorFio" placeholder="ФИО">
                        <label for="directorFio">ФИО</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="position" type="text" class="form-control" id="position" placeholder="Должность">
                        <label for="position">Должность</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти режиссёра</button>
                </div>
            </div>
        </form>
    </div>
    <h3 class="mt-3 mb-3">Все режиссеры</h3>
    <div sec:authorize="hasRole('ADMIN')" class="row" style="margin-bottom:5px">
        <div class="col">
            <a href="directors/add-director"
               class="btn btn-secondary btn-success"
               role="button"
               aria-disabled="true">Добавить режиссера</a>
        </div>
    </div>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Должность</th>
            <th scope="col" style="text-align: right">Фильмы</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="director : ${directors}">
            <td>
                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                   style="text-decoration: none"
                   th:href="'/directors/' + ${director.getId()}" >
                    <div class="col-md">
                        <div th:text="${director.getDirectorFio()}"></div><br>
                        <img th:src="${director.getSrcImage()}" height="200px">
                    </div>
                </a>
            </td>
            <td th:text="${director.getPosition()}"></td>
            <td>
                <table style="text-align: right; float: right">
                    <tr th:each="film : ${director.getFilms()}">
                        <td>
                            - <a style="text-decoration: none" th:href="'/films/' + ${film.getId()}"
                                 th:text="${film.getTitle()}"></a>
                        </td>
                        <td sec:authorize="hasRole('ADMIN')" style="padding-left:15px">
                            <a title="Удалить фильм"
                               class="btn btn-primary"
                               style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; float: left"
                               th:href="'directors/del-film/' + ${director.getId()} + '/' + ${film.getId()}">Удалить</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div sec:authorize="hasRole('ADMIN')" class="col">
                    <a th:href="'directors/add-film-to-director/' + ${director.getId()}"
                       class="btn btn-primary"
                       role="button"
                       style="background-color: sienna"
                       aria-disabled="true">Добавить фильм</a>
                </div>
            </td>
            <td>
                <div sec:authorize="isAuthenticated() && hasRole('ADMIN')">
                    <a class="btn btn-sm btn-outline-success" th:href="'/directors/update/' + ${director.id}">Обновить</a>
                    <a th:if="${!director.getIsDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/directors/delete/' + ${director.id}"
                       onclick="return confirm('Вы действительно хотите удалить фильм?')">Удалить</a>
                    <a th:if="${director.getIsDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/directors/recovery/' + ${director.id}">
                        Восстановить</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <nav aria-label="Pagination" th:if="${directors.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${directors.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/directors(page=${directors.number lt 2 ? 1 : directors.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq directors.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, directors.totalPages, 1)}">
                    <a class="page-link" th:href="@{/directors(page=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${directors.number eq directors.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/directors(page=${directors.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>