<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Изменить режиссёра</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Обновить режиссёра: ' + ${director.getDirectorFio()}"></h3>
  <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST"
        th:action="@{/directors/update}" th:object="${directorForm}">
    <input type="hidden" name="id"
           th:value="${director.getId()}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="directorFio" th:value="${director.getDirectorFio()}" type="text" class="form-control" id="directorFio"
                 placeholder="ФИО" required>
          <label for="directorFio">ФИО</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="position" th:value="${director.getPosition()}" type="text" class="form-control"
                 id="position"
                 placeholder="Должность" required>
          <label for="position">Должность</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 form-floating">
      <input type="hidden" th:value="${director.getSrcImage()}" name="srcImg" class="form-control form-control-sm">
      <input name="file" type="file" class="form-control form-control-sm" id="srcImg"
             placeholder="Фото" style="padding-top: 2rem;">
      <label for="srcImg">Фото</label>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary" onclick="validateForm()">Обновить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>