<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>О режиссёре </title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Информация о режиссёре: ' + ${director.getDirectorFio()}"></h3>
        <table class="table table-responsive">
            <tr>
                <td style="width: 150px">
                    <div class="mb-2 row">
                        <div class="col-sm-10">
                            <img th:src="${director.getSrcImage()}" id="srcImg" style="width: 150px">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mb-2 row">
                        <label for="fio" class="col-sm-2 col-form-label no-border">ФИО:</label>
                        <div class="col-sm-10">
                            <p th:text="${director.getDirectorFio()}" type="text" readonly
                               class="form-control-plaintext"
                               id="fio">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="position" class="col-sm-2 col-form-label">Должность:</label>
                        <div class="col-sm-10">
                            <p th:text="${director.getPosition()}" class="form-control-plaintext" id="position">
                        </div>
                    </div>
                </td>
        </table>
        <hr class="hr"/>
        <form class="row g-1">
            <h4 class="mt-3 mb-3" th:text="'Информация о фильме(ах):'"></h4>
            <div style="border: dotted 3px sienna;" th:each="film : ${films}">
                <div class="mb-2 row">
                    <label for="filmTitle" class="col-sm-2 col-form-label no-border">Название:</label>
                    <div class="col-sm-10">
                        <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}"
                           th:text="${film.getTitle()}" id="filmTitle"></a>
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="genre" class="col-sm-2 col-form-label">Жанр:</label>
                    <div class="col-sm-10">
                        <p th:text="${film.getGenre().getDescription()}" class="form-control-plaintext" id="genre">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="country" class="col-sm-2 col-form-label">Страна:</label>
                    <div class="col-sm-10">
                        <p th:text="${film.getCountry()}" class="form-control-plaintext" id="country">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="premierYear" class="col-sm-2 col-form-label">Год выпуска</label>
                    <div class="col-sm-10">
                        <p th:text="${film.getPremierYear()}" class="form-control-plaintext" id="premierYear">
                    </div>
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <div class="mt-2">
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </div>
</form>
</body>
</html>