<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить режиссера</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-3 mb-3" th:text="'Добавление режиссера к фильму ' + ${film.getTitle()}"></div>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw"
          method="POST" th:action="@{/films/add-director-to-film}" th:object="${directorToFilmForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="directorId" id="directorId" required>
                        <option selected value="0">Выберете режиссера</option>
                        <option th:each="director : ${dirrectors}"
                                th:value=" ${director.getId()}" th:text="${director.getDirectorFio()}"></option>
                    </select>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="filmId" type="hidden" class="form-control" id="filmId" th:value="${film.getId()}">
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>