<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Фильмы</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск фильма</h3>
        <form method="POST" th:action="@{/films/search}" th:object="${filmSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="title" type="text" class="form-control" id="title" placeholder="Название фильма">
                        <label for="title">Название фильма</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="country" type="text" class="form-control" id="country" placeholder="Страна">
                        <label for="country">Страна</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="genre" id="genre">
                            <option selected th:value="null">Выберете жанр из списка</option>
                            <option th:each="genre : ${T(my.spring_project.model.Genre).values()}"
                                    th:value="${genre}" th:text="${genre.getDescription()}"></option>
                        </select>
                        <label for="genre">Жанр</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти фильм</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <h3 class="mt-3 mb-3">Все фильмы</h3>
        <div class="row" style="margin-bottom:5px">
            <div sec:authorize="hasRole('ADMIN')" class="col">
                <a href="films/add-film"
                   class="btn btn-secondary btn-success"
                   role="button"
                   aria-disabled="true">Добавить фильм</a>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Год выпуска</th>
                <th scope="col">Страна</th>
                <th scope="col">Жанр</th>
                <th scope="col" style="text-align: right">Режиссеры</th>
                <th scope="col">Рейтинг</th>
                <th scope="col">Отзывы</th>
                <th sec:authorize="hasRole('USER')" scope="col">Заказы</th>
                <th sec:authorize="hasRole('ADMIN')" scope="col"></th>
                <th sec:authorize="hasRole('ADMIN')" scope="col"></th>
                <th sec:authorize="hasRole('ADMIN')" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film : ${films}">
                <td>
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                       style="text-decoration: none"
                       th:href="'/films/' + ${film.getId()}" >
                        <div class="col-md">
                            <div th:text="${film.getTitle()}"></div><br>
                        <img th:src="${film.getSrcImage()}" height="200px">
                        </div>
                    </a>

                </td>
                <td th:text="${film.getPremierYear()}"></td>
                <td th:text="${film.getCountry()}"></td>
                <td th:text="${film.getGenre().getDescription()}"></td>
                <td>
                    <table style="float: right">
                        <tr th:each="director : ${film.getDirectors()}">
                            <td>
                                - <a style="text-decoration: none" th:href="'/directors/' + ${director.getId()}"
                                     th:text="${director.getDirectorFio}"></a>
                            </td>
                            <td sec:authorize="hasRole('ADMIN')" style="padding-left:15px">
                                <a title="Удалить режиссёра"
                                   class="btn btn-primary btn-sm"
                                   th:href="'films/del-director/' + ${film.getId()} + '/' + ${director.getId()}">Удалить</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="col"
                         th:text="${!film.getReviewIds().isEmpty()} ? ${film.getRating()}
                          : 'Нет оценок'"
                         th:style="${!film.getReviewIds().isEmpty()}  ? 'font: bold italic 110% serif; font-size: 20px'
                          : 'color: grey'" >
                    </div>
                </td>
                <td>
                    <div class="col">
                        <a th:text="${!film.getReviewIds().isEmpty()} ? 'Отзывы(' + ${film.getReviewIds().size()} + ')'
                          : 'Нет отзывов'"
                           th:href="${!film.getReviewIds().isEmpty()} ? '/reviews/film/' + ${film.getId()}"
                           th:style="${film.getReviewIds().isEmpty()} ?
                           'text-decoration: none; cursor: default; pointer-events: none; color: grey'">
                        </a>
                    </div>
                </td>
                <td sec:authorize="hasRole('ADMIN') || hasRole('USER')">
                    <div sec:authorize="hasRole('ADMIN')" class="col">
                        <a th:href="'films/add-director-to-film/' + ${film.getId()}"
                           class="btn btn-primary btn-sm"
                           role="button"
                           style="background-color: sienna"
                           aria-disabled="true">Добавить режиссера</a>
                    </div>
                    <div sec:authorize="hasRole('USER')" class="col">
                        <a th:href="'/orders/film/' + ${film.getId()}"
                           th:class="${film.getIsDeleted()} ? 'btn btn-sm btn-outline-secondary disabled' : 'btn btn-sm btn-outline-success'"
                           role="button"
                           th:text="${film.getIsDeleted()} ? 'Нет в наличии': 'Заказать фильм'"
                           aria-disabled="true"></a>
                    </div>
                </td>
                <td>
                    <div sec:authorize="isAuthenticated() && hasRole('ADMIN')">
                        <a class="btn btn-sm btn-outline-success" th:href="'/films/update/' + ${film.id}">Обновить</a>
                        <a th:if="${!film.getIsDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/films/delete/' + ${film.id}"
                           onclick="return confirm('Вы действительно хотите удалить фильм?')">Удалить</a>
                        <a th:if="${film.getIsDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/films/recovery/' + ${film.id}">
                            Восстановить</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <nav aria-label="Pagination" th:if="${films.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${films.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/films(page=${films.number lt 2 ? 1 : films.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq films.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, films.totalPages, 1)}">
                        <a class="page-link" th:href="@{/films(page=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${films.number eq films.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/films(page=${films.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>