<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр фильма</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Информация о фильме: ' + ${film.getTitle()}"></h3>
        <table class="table table-responsive">
            <tr>
                <td style="width: 150px">
                    <div class="mb-2 row">
                        <div class="col-sm-10">
                            <img th:src="${film.getSrcImage()}" id="srcImg" style="width: 150px">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mb-2 row">
                        <label for="filmTitle" class="col-sm-2 col-form-label no-border">Название:</label>
                        <div class="col-sm-10">
                            <p th:text="${film.getTitle()}" type="text" readonly class="form-control-plaintext"
                               id="filmTitle">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="genre" class="col-sm-2 col-form-label">Жанр:</label>
                        <div class="col-sm-10">
                            <p th:text="${film.getGenre().getDescription()}" class="form-control-plaintext" id="genre">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="country" class="col-sm-2 col-form-label">Страна:</label>
                        <div class="col-sm-10">
                            <p th:text="${film.getCountry()}" class="form-control-plaintext" id="country">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="premierYear" class="col-sm-2 col-form-label">Год выпуска:</label>
                        <div class="col-sm-10">
                            <p th:text="${film.getPremierYear()}" class="form-control-plaintext" id="premierYear">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label for="premierYear" class="col-sm-2 col-form-label">Рейтинг:</label>
                        <div class="col-sm-10" th:text="${!film.getReviewIds().isEmpty()} ? ${film.getRating()}
                          : 'Нет оценок'"
                             th:style="${!film.getReviewIds().isEmpty()}  ? 'font: bold italic 110% serif; font-size: 20px'
                          : 'color: grey'">
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-sm-10">
                            <a th:text="${!film.getReviewIds().isEmpty()} ? 'Отзывы(' + ${film.getReviewIds().size()} + ')'
                          : 'Нет отзывов'"
                               th:href="${!film.getReviewIds().isEmpty()} ? '/reviews/film/' + ${film.getId()}"
                               th:style="${film.getReviewIds().isEmpty()} ?
                           'text-decoration: none; cursor: default; pointer-events: none; color: grey'">
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <hr class="hr"/>
        <form class="row g-1">
            <h4 class="mt-3 mb-3" th:text="'Информация о режиссёре(ах):'"></h4>
            <div style="border: dotted 3px sienna;" th:each="director : ${directors}">
                <div class="mb-2 row">
                    <label for="fio" class="col-sm-2 col-form-label">ФИО:</label>
                    <div class="col-sm-10">
                        <a class="text-link text-blue" th:href="'/directors/' + ${director.getId()}"
                           th:text="${director.getDirectorFio()}" id="fio"></a>
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="position" class="col-sm-2 col-form-label">Должность:</label>
                    <div class="col-sm-10">
                        <p th:text="${director.getPosition()}" class="form-control-plaintext" id="position">
                    </div>
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <div class="mt-2">
            <a sec:authorize="hasRole('USER')" class="btn btn-primary"
               th:href="'/orders/film/' + ${film.id}">Заказать фильм</a>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </div>
</form>
</body>
</html>