<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Все пользователи</h3>
    <table class="table table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Логин</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Отчество</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Телефон</th>
            <th scope="col">Адрес</th>
            <th scope="col">E-mail</th>
            <th scope="col">Дата создания</th>
            <th scope="col" style="text-align: center">Заказы</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getLogin()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getMiddleName()}"></td>
            <td th:text="${user.getBirthDate()}"></td>
            <td th:text="${user.getPhone()}"></td>
            <td th:text="${user.getAddress()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${#temporals.format(user.getCreatedWhen(), 'dd-MM-yyyy HH:mm')}"></td>
            <td>
                <a th:href="'/orders/' + ${user.getId()}"
                   class="btn btn-primary btn-sm"
                   role="button"
                   aria-disabled="true">Заказы пользователя</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>