<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Мои данные</h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/users/update}" th:object="${profileForm}">
        <div class="mt-3 row g-2">
            <div><h5>Логин:</h5></div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="login" type="text" class="form-control" id="login"
                           th:value="${user.getLogin()}" placeholder="Логин" readonly>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div><h5>Имя:</h5></div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="firstName" type="text" class="form-control" id="firstName"
                           th:value="${user.getFirstName()}" placeholder="Имя" required>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div><h5>Фамилия:</h5></div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="lastName" type="text" class="form-control"
                           th:value="${user.getLastName()}" id="lastName" placeholder="Фамилия" required>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div><h5>Отчество:</h5></div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="middleName" type="text" class="form-control" id="middleName"
                           th:value="${user.getMiddleName()}" placeholder="Отчество">
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div><h5>E-mail:</h5></div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="email" type="text" class="form-control" id="email"
                           th:value="${user.getEmail()}" placeholder="E-mail" required>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div><h5>Телефон:</h5></div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="phone" type="text" class="form-control" id="phone"
                           th:value="${user.getPhone()}" placeholder="Телефон">
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div><h5>Дата рождения:</h5></div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="birthDate" type="date" class="form-control"
                           th:value="${user.getBirthDate()}" id="birthDate" placeholder="Дата рождения" required>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div><h5>Адрес:</h5></div>
            <div class="col-md">
                <div class="form-floating">
                    <textarea name="address" type="text" class="form-control" th:text="${user.getAddress()}"></textarea>
                </div>
            </div>
        </div>
        <input name="id" type="hidden" class="form-control" th:value="${user.getId()}" id="id">
        <input name="password" type="hidden" class="form-control" th:value="${user.getPassword()}" id="password">
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Сохранить изменения</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>