<div xmlns:th="http://thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="navbar navbar-expand-lg" style="background: sienna">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: whitesmoke" href="/">Онлайн фильмотека</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="color: gold" aria-current="page" href="/films">Фильмы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: gold" href="/directors">Режиссеры</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated() && !hasRole('ADMIN')" class="nav-link" style="color: gold"
                           aria-current="page" href="/orders">Мои заказы</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated() && !hasRole('ADMIN')" class="nav-link" style="color: gold"
                           aria-current="page" href="/reviews">Мои отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasRole('ADMIN')" class="nav-link" style="color: gold" aria-current="page"
                           href="/users">Пользователи</a>
                    </li>
                </ul>
                <div sec:authorize="isAuthenticated()" style="padding-right: 15px; color: gold " class="d-flex"
                      th:text="${#authentication.getPrincipal().getUsername()}">
                </div>
                <form class="d-flex">
                    <a sec:authorize="isAuthenticated() && hasRole('USER')" class="nav-link" style="color: whitesmoke"
                       href="users/profile">Профиль</a>
                </form>
                <form sec:authorize="!isAuthenticated()" class="d-flex" role="search">
                    <a class="btn btn" role="button" href="/login" aria-disabled="true">Войти</a>
                </form>
                <form sec:authorize="isAuthenticated()" class="d-flex" role="search">
                    <a class="btn btn" role="button" href="/logout" aria-disabled="true">Выйти</a>
                </form>
            </div>
        </div>
    </nav>
</div>